.container{
    height: auto;
    border: 3px solid black
}

.messages{
    background-color: #fbf579;
    padding-left: 2%;
}
.currentUsers{
    background-color: #7dce94;
    padding-left: 3%;
}
.btn{
    margin-left: 1%;
}
.cursorPointer{
    cursor: pointer;
}